# Python bytecode
**/__pycache__/
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables
.env

# SQLite database
*.sqlite3
*.db

# VSCode project settings
.vscode/

# Windows
Thumbs.db
desktop.ini

# Pytest cache
.pytest_cache/

# Uvicorn logs
*.log
